.ql-container {
  font-family: "Nanum Square", "Malgun Gothic", sans-serif !important;
}

.article__content {
  margin: 0 auto !important;
  max-width: 1100px !important;
  font-family: "Nanum Square", "Malgun Gothic", sans-serif !important;
}

.article__content h2 {
  font-size: 2rem !important;
  margin-top: 2.1em !important;
  margin-bottom: 1.3em !important;
}

.article__content h3 {
  font-size: 1.5rem !important;
  margin-top: 1.5em !important;
  margin-bottom: 0.8em !important;
}

.article__content p {
  color: #262626 !important;
  font-size: 1.2rem !important;
  line-height: 1.6666666667 !important;
  font-weight: 300 !important;
  -webkit-font-smoothing: antialiased !important;
  margin-bottom: 15px !important;
}

.article__content u {
  box-shadow: inset 0 -1px 0 white, inset 0 -6.5px 0 rgba(113, 207, 255, 0.6) !important;
  text-decoration: none;
}

@media (max-width: 600px) {
  .article__content h2 {
    font-size: 1.5rem !important;
    margin-top: 1.5em !important;
    margin-bottom: 1.0em !important;
  }
  .article__content h3 {
    font-size: 1.2rem !important;
    margin-top: 1em !important;
    margin-bottom: 0.5em !important;
  }
  .article__content p {
    font-size: 1.2rem !important;
    line-height: 1.4 !important;
    font-weight: 300 !important;
    margin-bottom: 10px !important;
  }
}

.article__content img {
  max-width: 100% !important;
}

.article__content .img__center {
  display: block !important;
  margin: 0 auto !important;
}

.post__author {
  text-align: center !important;
}