.article__content {
  margin: 0 auto;
  max-width: 1100px;
  font-family: 'Nanum Square', 'Malgun Gothic', sans-serif;
}

.article__content h2 {
  font-size: 2rem;
  margin-top: 2.1em;
  margin-bottom: 1.3em;
}

.article__content h3 {
  font-size: 1.5rem;
  margin-top: 1.5em;
  margin-bottom: 0.8em;
}

.article__content p {
  color: #262626;
  font-size: 1.2rem;
  line-height: 1.6666666667;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 15px;
}

.article__content img {
  max-width: 100%;
}

.article__content .img__center {
  display: block;
  margin: 0 auto;
}

.post__author {
  text-align: center;
}